@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  background-color: #f2f2f2;
  font-weight: 400;
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

*,*::before,*::after {box-sizing: border-box;}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  flex-grow: 1;
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.navigation {
  display: flex;
  padding-left: 70px;
  padding-right: 70px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 620px;
  margin: 0;
  padding: 0;
  padding-left: 30px;
  list-style-type: none;
}

.navigation-link {
  display: block;
  color: #000000;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  padding: 20px 16px;
}

.navigation-user {
  display: flex;
  max-width: 270px;
  margin: 0 0 0 auto;
  padding: 0;
  list-style-type: none;
}

.icon-search {
  display: block;
  width: 44px;
  padding: 22px 12px;
}

.icon-search-button {
  padding-left: 20px;
}

.chosen {
  color: #ffffff;
  background-color: #7bd54f;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
}

.dark-button {
  width: 160px;
  height: 14px;
  color: #ffffff;
  background-color: #756157;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
}

.hero {
  padding-top: 52px;
  padding-bottom: 82px;
  background: url("../images/header/steps.svg") no-repeat bottom, url("../images/header/index-background.jpg") no-repeat top;
  background-size: 100% auto, cover;
}

.advantages-list {
  padding: 0;
  margin: 0;
}

.advantages-title {
  margin: 0;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  padding-top: 69px;
  padding-bottom: 25px;
}

.advantages-reasons-view {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: #333333;
  margin: 0;
  padding-bottom: 69px;
}

.advantages-items {
  list-style-type: none;
}

.item-title{
  margin-top: 102px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.reason {
  margin-top: 60px;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
}

.advantages-items-picture {
  display: flex;
  color: #ffffff;
  margin: 0;
 }

 .advantages-items-bridge {
  display: flex;
  flex-direction: row-reverse;
  color: #ffffff;
  margin: 0;
 }

 .town {
  width: 400px;
  min-height: 384px;
  background-color: #83b3d3;
 }

 .devil-bridge {
  width: 400px;
  min-height: 384px;
  background-color: #83b3d3;
 }

 .area-road-tourists {
  display: flex;
   }

 .area {
    width: 400px;
    min-height: 384px;
    background-color: rgba(131, 179, 211, 0.12);
  }

  .road {
    width: 400px;
    min-height: 384px;
    background-color: rgba(131, 179, 211, 0.20);
  }

  .tourists {
    width: 400px;
    min-height: 384px;
    background-color: rgba(131, 179, 211, 0.12);
  }

  .infrastructure-title {
    margin: 0;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    padding-top: 69px;
    padding-bottom: 20px;
  }

  .infrastructure-reasons-view {
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    color: #333333;
    margin: 0;
    padding-bottom: 64px;
  }

  .infrastructure-list {
    padding: 0;
    margin: 0;
    display: flex;
    list-style-type: none;
  }

.accommodation {
  width: 400px;
  min-height: 384px;
  background-color: rgba(131, 179, 211, 0.12);
}

.food {
  width: 400px;
  min-height: 384px;
  background-color: #ffffff;
}

.souvenirs {
  width: 400px;
  min-height: 384px;
  background-color: rgba(131, 179, 211, 0.12);
}

.invitation-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  padding-top: 96px;
  margin: 0;
}

.invitation-reasons-view {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  padding-top: 20px;
  padding-bottom: 54px;
  margin: 0;
}

.hotels-button {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 96px;
}

.subscribe-title {
  margin: 0;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  padding-top: 96px;
  padding-bottom: 20px;
}

.no-spam {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  padding-bottom: 54px;
  margin: 0;
  }

.subscribe-form {
  display: flex;
  justify-content: center;
  border: none;
}

.subscribe-form-name {
  width: 452px;
  height: 52px;
  background: #f2f2f2;
  border-radius: 4px 0 0 4px;
}

.accent {
  color: #ffffff;
}

.subscribe {
  background: url("../images/footer/landscape-blure.jpg") no-repeat #83b3d3;
  background-size: cover;
}

.contacts {
  display: flex;
  justify-content: space-between;
  width: 1060px;
  margin-left: 70px;
  margin-right: 70px;
  padding-top: 40px;
  padding-bottom: 30px;
}

.networks{
  display: flex;
  max-height: 142px;
  list-style-type: none;
  margin: 0;
  margin-right: 14px;
  padding: 0;
}

.networks-item {
  min-width: 47px;
  padding-top: 13px;
  padding-bottom: 13px;
}

.phone {
  display: block;
  color: #000000;
  width: 720px;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 14px;
}

.logo-of-academy {
  display: block;
}

.search {
  padding: 70px;
  padding-top: 35px;
  background: url("../images/hotels/hotels-background.jpg") no-repeat top;
  background-size: cover;
  color: #ffffff;
}

.inner-header-title {
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  text-align: left;
  margin: 0;
  padding: 0;
}

.breadcrumbs {
  display: flex;
  max-width: 114px;
  font-size: 16px;
  margin: 0;
  margin-top: 8px;
  padding: 0;
  line-height: 21px;
  list-style-type: none;
}

.hotels {
  margin-top: 40px;
}

.catalog-filter {
  display: flex;
}


.hotels-filter-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
  padding: 0;
}

.hotels-filter-title {
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.filter-price {
  display: flex;
  flex-direction: row;
}

.hotels-filter-title {
  width: 160px;
  margin: 0;
  padding: 0;
}

.control {
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
}

.control:not(:last-child) {
  margin-bottom: 16px;
}

.field-price {
  width: 143px;
  height: 48px;
  border: none;
}

.chose {
  width: 200px;
}

.button-agree {
  width: 191px;
  height: 36px;
  margin-bottom: 56px;
}

.button-clear {
  width: 191px;
  height: 36px;
  margin-bottom: 36px;
}

.hotels-filter-title {
  margin-bottom: 33px;
}

.control {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  }

.control:not(:last-child) {
  margin-bottom: 16px;
}

.field {
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.field-price {
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.hotels-selection {
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
  padding-bottom: 60px;
  padding: 70px;
}

.hotels-searching {
  display: flex;
  margin-bottom: 40px;
}

.select-result{
  width: 338px;
  margin-top: 6.5px;
  margin-bottom: 6.5px;
  margin-right: 200px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;

}

.select-control {
  margin-right: 70px;
  width: 292px;
  height: 49px;
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.viewer {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 160px;
}

.viewer-square {
  width: 48px;
  height: 48px;
}

.viewer-square:not(:last-child) {
  margin-right: 8px;
}


.sedona-hotels {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 20px;
}

.hotel-card {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  padding: 20px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  width: 340px;
  row-gap: 16px;
  column-gap: 20px;
}

.hotel-card-link {
  grid-column: 1/-1;
}

.hotel-card-title {
  margin: 0;
  grid-column: 1/-1;

}

.rating {
  grid-column: 2/3;
}

.hotel-card-image {
  display: block;
}

.hotel-type {
  display: block;
  text-align: left;
}

.hotel-price {
  display: block;
  text-align: right;
}

.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.hotel-type, .hotel-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.hotel-card-button {
  font-family: inherit;
  color: #ffffff;
  background-color: #756157;
  padding: 8px 18px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 4px;
  border: none;
}

.hotel-card-put-button{
  font-family: inherit;
  color: #ffffff;
  background-color: #83b3d3;
  padding: 8px 18px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 4px;
  border: none;
}

.hotel-card-putted-button {
  font-family: inherit;
  color: #ffffff;
  background-color: #7bd54f;
  font-weight: 700;
  padding: 8px 18x;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 4px;
  border: none;
}
.stars-4 {
  width: 100%;
  height: 30px;
  background: url(../images/hotels/star.svg) no-repeat 0 50%, url(../images/hotels/star.svg) no-repeat 24px 50%, url(../images/hotels/star.svg) no-repeat 48px 50%, url(../images/hotels/star.svg) no-repeat 72px 50%;
}

.stars-3 {
  width: 100%;
  height: 30px;
  background: url(../images/hotels/star.svg) no-repeat 0 50%, url(../images/hotels/star.svg) no-repeat 24px 50%, url(../images/hotels/star.svg) no-repeat 48px 50%;
}

.stars-2 {
  width: 100%;
  height: 30px;
  background: url(../images/hotels/star.svg) no-repeat 0 50%, url(../images/hotels/star.svg) no-repeat 24px 50%;
}


.rating {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  text-transform: uppercase;
  background-color: #e2e2e2;
  padding: 8px 18px;
  border-radius: 4px;
}

.pagination {
  display: flex;
  margin-top: 80px;
  padding: 0;
  list-style-type: none;
  }

  .pagination-item:not(:last-child) {
    margin-right: 8px;
  }

.pagination-link {
  display: block;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  min-width: 60px;
  min-height: 60px;
  background-color: #83b3d3;
  padding-top: 11px;
  padding-bottom: 12px;
}

.pagination-current, .load-more  {
  background-color: #f2f2f2;
  color: #000000;
}

.subscribe-title-hotels {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.no-spam-hotels {
  color: #333333;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}

.your-email {
    font-family: inherit;
    color: rgba(0, 0, 0, 0.6);
    background-color: #ffffff;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}
